// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;

  &__icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &__text {
    padding: 0 20px;
  }

  &__create {
    padding-top: 10px;
  }

  &__container {
    display: flex;
    padding: 4rem 8rem;
    font-size: 2em;
  }

  &__name {
    padding-left: 3rem;
  }
}

.card__date {
  span {
    padding-left: 2rem;
  }
}
