// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  background: #3778c2;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 2em;
  padding-left: 20px;
  text-decoration: none;
}
.fa-arrow-left {
  color: white;
}

.title {
  font-size: 2em;
  color: white;
  text-transform: uppercase;
}
.submit-1 {
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
}

.input-container {
  margin-top: 2em;
}

.username {
  padding: 1em;
  width: 100%;
  border: none;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  font-size: 1.6em;
}
