// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  max-height: 100vh;
  overflow-x: hidden;
}

.profile {
  background: linear-gradient(5deg, #3778c2 0%, #1b3095 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3em 30% 1em 1em;
  color: white;

  &__container {
    display: flex;
    padding: 4rem 8rem;
    flex-direction: column;
    color: white;
  }

  &__image {
    margin-left: 2rem;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    font-size: 2rem;
    padding: 1rem 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__options {
    margin-left: 1rem;
    font-size: 1rem;
  }

  &__option {
    display: flex;
    padding: 1rem 1rem;

    &__text {
      margin-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }
  }
}

.sidepanel {
  position: absolute;
  width: 100%;
  right: -80%;
  z-index: 10;
  top: 3em;
  bottom: 3em;

  iframe {
    position: relative;
    height: 100%;
    border: 0;
  }

  a {
    display: block;
    position: absolute;
    height: 100%;
    z-index: 100;
    top: 0;
    width: 100%;
  }
}
